name: Anilist Metrics Update
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push:
    branches: ["main", "master"]
    paths:
      - '.github/workflows/anilist.yml'
jobs:
  anilist-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: NOT_NEEDED
          base: ""
          plugin_anilist: yes
          plugin_anilist_sections: characters
          plugin_anilist_limit_characters: 22
          filename: anilist.svg
          user: onhaze
          template: classic
          config_timezone: Asia/Seoul
          plugin_anilist_user: onhaze
