# Visit https://github.com/lowlighter/metrics#-documentation for full reference
name: music_activity
on:
  # Schedule updates (each hour)
  schedule: [{cron: "0 * * * *"}]
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Current configuration doesn't require a GitHub token
          token: NOT_NEEDED

          # Options
          user: onhaze
          template: classic
          base: ""
          config_timezone: Asia/Seoul
          plugin_music: yes
          plugin_music_limit: 3
          plugin_music_mode: playlist
          plugin_music_playlist: https://music.youtube.com/playlist?list=PLkp41XcCEBcmFWSfqHR-RMPYgeqCdsR8v
          plugin_music_provider: youtube
          plugin_music_time_range: long
          plugin_music_top_type: tracks
          plugin_music_user: .user.login
